<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='form.css') }}">
    <title></title>
</head>
<body>
    {% block back %}
    {% endblock %}
    <div id="div_logo">
        <p>Cadastre-se</p>
        <img src="{{ url_for('static', filename='img/add_icon.svg') }}" alt="">   
    </div>

    {% block content %}   
    
    {% endblock %}
</body>
</html>
