{% extends "base_entrar_form.html" %}
{% block back %}
    <a href="{{ url_for('entrar') }}" id="icon_voltar"><img src="{{url_for('static', filename='img/icon_voltar.svg')}}" alt="" height="42px" width="42px"></a>
{% endblock %}
{% block content %}
<div id="div_form">

    <form action="{{ url_for('entrar_action', tipo=tipo ) }} " method='POST'>
        <div>
            <label for="email">email:</label>
        </div>
        <div>
            <input type="text" name="email" id="email">
        </div>
        <div>
            <label for="senha">senha:</label>
        </div>
        <div>
            <input type="text" name="senha" id="senha">
        </div>

        <div id="botao_form">
        <button type="submit">Confirmar</button>
        </div>
        
    </form>

</div>

{% endblock %}