<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    cadastrado
    {% if session %}
        {% if session.usuario %}
        <p>usuario</p>
        {{ session.usuario }}
        <div>
            {%for usuario in lista_user%}
                {{usuario.get_nome()}}
            {% endfor %}
        </div>
        {% endif %}
        {% if session.emp %}
        <p>empresa</p>
        <div>
            {%for empresa in lista_emp%}
                {{empresa.get_cnpj()}}
            {% endfor %}
        </div>
        {{ session.emp }}
        {% endif %}
    {% endif %}

</body>
</html>